{% ckan_extends %}
{# 
  TODO: Change to be consistent on the home page
  2. Style the featured section of the homepage
  3. send email to sewornu
  #}
{% block meta %}
  {{ super() }}
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
{% endblock %}

{% block links %}
  <link href="/images/acecor.ico" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  {# Google Fonts #}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
{% endblock %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="/rocdatahub.css" />

  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/brands.min.css" integrity="sha512-W/zrbCncQnky/EzL+/AYwTtosvrM+YG/V6piQLSe2HuKS6cmbw89kjYkp3tWFn1dkWV7L1ruvJyKbLz73Vlgfg==" crossorigin="anonymous" referrerpolicy="no-referrer" />


  {# Template Main CSS File #}
  <link href="assets/css/main.css" rel="stylesheet">
{% endblock %}

{% block scripts %}
  <script src="/mapdata.js"></script>
  <script src="/worldmap.js"></script>
{% endblock %}
