{% ckan_extends %}

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
  {% block footer_content %}
  <div class="container">
    <div class="row gy-4">
      {% block footer_nav %}
      <div class="col-lg-9 col-md-12 footer-info">
        <a href="/" class="logo d-flex align-items-center">
          {% block header_logo %}
          {% if g.site_logo %}
          <a class="logo" href="{{ h.url_for('home.index') }}">
            <img src="{{ h.url_for_static_or_external(g.site_logo) }}" alt="{{ g.site_title }}"
              title="{{ g.site_title }}" />
          </a>
          {% else %}
          <h1>
            <a href="{{ h.url_for('home.index') }}">{{ g.site_title }}</a>
          </h1>
          {% if g.site_description %}
          <h2>{{ g.site_description }}</h2>
          {% endif %}
          {% endif %}
          {% endblock %}
        </a>
        
      </div>


      <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start col-end">
        <div class="social-links d-flex mt-4 gap-3">
          <a href="https://twitter.com/ccm_ucc" class="twitter" target="_blank"><i class="fa-brands fa-x-twitter fa-2xl" style="color: #ffffff;"></i></a>
          <a href="https://www.facebook.com/ccmuccgh/" class="facebook" target="_blank"><i class="fa-brands fa-facebook fa-2xl" style="color: #ffffff;"></i></a>
          <a href="https://www.instagram.com/acecor_ccm/" class="instagram" target="_blank"><i class="fa-brands fa-instagram fa-2xl" style="color: #ffffff;"></i></a>
          <a href="https://www.linkedin.com/company/centre-for-coastal-management-africa-centre-of-excellence-in-coastal-resilience/" class="linkedin" target="_blank"><i class="fa-brands fa-linkedin fa-2xl" style="color: #ffffff;"></i></a>
          <a href="https://www.youtube.com/channel/UC5aYtBTV9YP_YECkrvQBcJw" class="youtube" target="_blank"><i class="fa-brands fa-youtube fa-2xl" style="color: #ffffff;"></i></a>
        </div>

      </div>
      {% endblock %}
    </div>
  </div>

  <div class="container mt-4 text-white">
    {% block footer_attribution %}
    <div class="copyright">
      &copy; <script>document.write(new Date().getFullYear())</script> Copyright <strong><span>Center for Coastal Management</span></strong>. All Rights Reserved
    </div>
    {% endblock %}
  </div>
  {% endblock %}
</footer><!-- End Footer -->
<!-- End Footer -->