{% ckan_extends %}

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
  {% block footer_content %}
  <div class="container">
    <div class="row gy-4">
      {% block footer_nav %}
      <div class="col-lg-9 col-md-12 footer-info">
        <a href="/" class="logo d-flex align-items-center">
          <img src="/uploads/admin/2023-10-25-075515.361157adhub.png" alt="Regional Ocean &amp; Coastal Data Hub" title="Regional Ocean &amp; Coastal Data Hub">
        </a>
        
      </div>


      <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start col-end">
        <div class="social-links d-flex mt-4 gap-3">
          <a href="#" class="twitter"><i class="fa-brands fa-x-twitter" style="color: #ffffff;"></i></a>
          <a href="#" class="facebook"><i class="fa-brands fa-facebook" style="color: #ffffff;"></i></a>
          <a href="#" class="instagram"><i class="fa-brands fa-instagram" style="color: #ffffff;"></i></a>
          <a href="#" class="linkedin"><i class="fa-brands fa-linkedin" style="color: #ffffff;"></i></a>
        </div>

      </div>
      {% endblock %}
    </div>
  </div>

  <div class="container mt-4 text-white">
    {% block footer_attribution %}
    <div class="copyright">
      &copy; Copyright <strong><span>Center for Coastal Management</span></strong>. All Rights Reserved
    </div>
    {% endblock %}
  </div>
  {% endblock %}
</footer><!-- End Footer -->
<!-- End Footer -->