{% ckan_extends %}

<nav class="navbar navbar-expand-lg navbar-light">
    <hgroup class="{{ g.header_class }} navbar-left">

        {% block header_logo %}
        {% if g.site_logo %}
        <a class="logo" href="{{ h.url_for('home.index') }}">
          <img src="{{ h.url_for_static_or_external(g.site_logo) }}" alt="{{ g.site_title }}"
            title="{{ g.site_title }}" class="img-fluid" />
        </a>
        {% else %}
        <h1>
          <a href="{{ h.url_for('home.index') }}" >{{ g.site_title }}</a>
        </h1>
        {% if g.site_description %}
        <h2>{{ g.site_description }}</h2>
        {% endif %}
        {% endif %}
        {% endblock %}
    
         </hgroup>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-navigation-toggle"
      aria-controls="main-navigation-toggle" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars text-white"></span>
    </button>
    <div class="main-navbar collapse navbar-collapse" id="main-navigation-toggle">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            {% block header_site_navigation %}
                {% block header_site_navigation_tabs %}
                    {% set org_type = h.default_group_type('organization') %}
                    {% set group_type = h.default_group_type('group') %}

                        {{ h.build_nav_main(
                            ('home.about', _('About')),
                            (org_type ~ '.index', h.humanize_entity_type('organization', org_type, 'main nav') or _('Organizations'), ['organization']),
                            (group_type ~ '.index', h.humanize_entity_type('group', group_type, 'main nav') or _('Data Categories'), ['group']),
                            ('rocdatahub.ecosystem', _('Ecosystems')),
                            ('rocdatahub.map', _('Map')),
                            ('rocdatahub.faqs', _('FAQs')),
                        ) }}
                {% endblock %}
        </ul>

        {% endblock %}
        {% block header_site_search %}
            <form class="d-flex site-search" action="{% url_for dataset_type ~ '.search' %}" method="get">
                <label class="d-none" for="field-sitewide-search">{% block header_site_search_label %}{{ h.humanize_entity_type('package', dataset_type, 'search_placeholder') or _('Search Datasets...') }}{% endblock %}</label>
                <input id="field-sitewide-search" class="form-control me-2"  type="text" name="q" placeholder="{{ _('Search') }}" aria-label="{{ h.humanize_entity_type('package', dataset_type, 'search_placeholder') or _('Search datasets...') }}"/>
                <button class="btn" type="submit" aria-label="{{ _('Submit') }}"><i class="fa fa-search"></i></button>
            </form>
        {% endblock %}
    </div>
</nav>
      
{# (dataset_type ~ '.search', h.humanize_entity_type('package', dataset_type, 'main nav') or _('Datasets'), ["dataset", "resource"]), #}
