{% ckan_extends %}

{% block core_fields %}
      {% block required_core_fields %}
        {{ form.input("name", id="field-username", label=_("Username"), placeholder=_("username"), value=data.name, error=errors.name, classes=["control-medium"], is_required=True) }}
        {{ form.input("fullname", id="field-fullname", label=_("Full Name"), placeholder=_("Joe Bloggs"), value=data.fullname, error=errors.fullname, classes=["control-medium"], is_required=True)  }}
        {{ form.input("email", id="field-email", label=_("Email"), type="email", placeholder=_("joe@example.com"), value=data.email, error=errors.email, classes=["control-medium"], is_required=True) }}
        {{ form.input("password1", id="field-password", label=_("Password"), type="password", placeholder="••••••••", value=data.password1, error=errors.password1, classes=["control-medium"], is_required=True) }}
        {{ form.input("password2", id="field-confirm-password", label=_("Confirm"), type="password", placeholder="••••••••", value=data.password2, error=errors.password2, classes=["control-medium"], is_required=True) }}
      {% endblock %}

      {% block optional_core_fields %}
        {% set is_upload = data.image_url and not data.image_url.startswith('http') %}
        {% set is_url = data.image_url and data.image_url.startswith('http') %}
        {{ form.image_upload(data, errors, is_upload_enabled=h.uploads_enabled(), is_url=is_url, is_upload=is_upload, upload_label=_('Profile picture'), url_label=_('Profile picture URL')) }}
      {% endblock %}
    {% endblock %}

{% block extra_fields %}
    {{ form.select('country', id='field-country', label=_('Country of Residence'), options=[
    {'value': '0', 'text': _('[Choose Country]')}
    , {'value': 'Afghanistan' ,'text': _('Afghanistan')},
    {'value': 'Albania' ,'text': _('Albania')},
    {'value': 'Algeria' ,'text': _('Algeria')},
    {'value': 'Andorra' ,'text': _('Andorra')},
    {'value': 'Angola' ,'text': _('Angola')},
    {'value': 'Antigua and Barbuda' ,'text': _('Antigua and Barbuda')},
    {'value': 'Argentina' ,'text': _('Argentina')},
    {'value': 'Armenia' ,'text': _('Armenia')},
    {'value': 'Australia' ,'text': _('Australia')},
    {'value': 'Austria' ,'text': _('Austria')},
    {'value': 'Azerbaijan' ,'text': _('Azerbaijan')},
    {'value': 'The Bahamas' ,'text': _('The Bahamas')},
    {'value': 'Bahrain' ,'text': _('Bahrain')},
    {'value': 'Bangladesh' ,'text': _('Bangladesh')},
    {'value': 'Barbados' ,'text': _('Barbados')},
    {'value': 'Belarus' ,'text': _('Belarus')},
    {'value': 'Belgium' ,'text': _('Belgium')},
    {'value': 'Belize' ,'text': _('Belize')},
    {'value': 'Benin' ,'text': _('Benin')},
    {'value': 'Bhutan' ,'text': _('Bhutan')},
    {'value': 'Bolivia' ,'text': _('Bolivia')},
    {'value': 'Bosnia and Herzegovina' ,'text': _('Bosnia and Herzegovina')},
    {'value': 'Botswana' ,'text': _('Botswana')},
    {'value': 'Brazil' ,'text': _('Brazil')},
    {'value': 'Brunei' ,'text': _('Brunei')},
    {'value': 'Bulgaria' ,'text': _('Bulgaria')},
    {'value': 'Burkina Faso' ,'text': _('Burkina Faso')},
    {'value': 'Burundi' ,'text': _('Burundi')},
    {'value': 'Cabo Verde' ,'text': _('Cabo Verde')},
    {'value': 'Cambodia' ,'text': _('Cambodia')},
    {'value': 'Cameroon' ,'text': _('Cameroon')},
    {'value': 'Canada' ,'text': _('Canada')},
    {'value': 'Central African Republic' ,'text': _('Central African Republic')},
    {'value': 'Chad' ,'text': _('Chad')},
    {'value': 'Chile' ,'text': _('Chile')},
    {'value': 'China' ,'text': _('China')},
    {'value': 'Colombia' ,'text': _('Colombia')},
    {'value': 'Comoros' ,'text': _('Comoros')},
    {'value': 'Congo, Democratic Republic of the' ,'text': _('Congo, Democratic Republic of the')},
    {'value': 'Congo, Republic of the' ,'text': _('Congo, Republic of the')},
    {'value': 'Costa Rica' ,'text': _('Costa Rica')},
    {'value': 'Côte d’Ivoire' ,'text': _('Côte d’Ivoire')},
    {'value': 'Croatia' ,'text': _('Croatia')},
    {'value': 'Cuba' ,'text': _('Cuba')},
    {'value': 'Cyprus' ,'text': _('Cyprus')},
    {'value': 'Czech Republic' ,'text': _('Czech Republic')},
    {'value': 'Denmark' ,'text': _('Denmark')},
    {'value': 'Djibouti' ,'text': _('Djibouti')},
    {'value': 'Dominica' ,'text': _('Dominica')},
    {'value': 'Dominican Republic' ,'text': _('Dominican Republic')},
    {'value': 'East Timor (Timor-Leste)' ,'text': _('East Timor (Timor-Leste)')},
    {'value': 'Ecuador' ,'text': _('Ecuador')},
    {'value': 'Egypt' ,'text': _('Egypt')},
    {'value': 'El Salvador' ,'text': _('El Salvador')},
    {'value': 'Equatorial Guinea' ,'text': _('Equatorial Guinea')},
    {'value': 'Eritrea' ,'text': _('Eritrea')},
    {'value': 'Estonia' ,'text': _('Estonia')},
    {'value': 'Eswatini' ,'text': _('Eswatini')},
    {'value': 'Ethiopia' ,'text': _('Ethiopia')},
    {'value': 'Fiji' ,'text': _('Fiji')},
    {'value': 'Finland' ,'text': _('Finland')},
    {'value': 'France' ,'text': _('France')},
    {'value': 'Gabon' ,'text': _('Gabon')},
    {'value': 'The Gambia' ,'text': _('The Gambia')},
    {'value': 'Georgia' ,'text': _('Georgia')},
    {'value': 'Germany' ,'text': _('Germany')},
    {'value': 'Ghana' ,'text': _('Ghana')},
    {'value': 'Greece' ,'text': _('Greece')},
    {'value': 'Grenada' ,'text': _('Grenada')},
    {'value': 'Guatemala' ,'text': _('Guatemala')},
    {'value': 'Guinea' ,'text': _('Guinea')},
    {'value': 'Guinea-Bissau' ,'text': _('Guinea-Bissau')},
    {'value': 'Guyana' ,'text': _('Guyana')},
    {'value': 'Haiti' ,'text': _('Haiti')},
    {'value': 'Honduras' ,'text': _('Honduras')},
    {'value': 'Hungary' ,'text': _('Hungary')},
    {'value': 'Iceland' ,'text': _('Iceland')},
    {'value': 'India' ,'text': _('India')},
    {'value': 'Indonesia' ,'text': _('Indonesia')},
    {'value': 'Iran' ,'text': _('Iran')},
    {'value': 'Iraq' ,'text': _('Iraq')},
    {'value': 'Ireland' ,'text': _('Ireland')},
    {'value': 'Israel' ,'text': _('Israel')},
    {'value': 'Italy' ,'text': _('Italy')},
    {'value': 'Jamaica' ,'text': _('Jamaica')},
    {'value': 'Japan' ,'text': _('Japan')},
    {'value': 'Jordan' ,'text': _('Jordan')},
    {'value': 'Kazakhstan' ,'text': _('Kazakhstan')},
    {'value': 'Kenya' ,'text': _('Kenya')},
    {'value': 'Kiribati' ,'text': _('Kiribati')},
    {'value': 'Korea, North' ,'text': _('Korea, North')},
    {'value': 'Korea, South' ,'text': _('Korea, South')},
    {'value': 'Kosovo' ,'text': _('Kosovo')},
    {'value': 'Kuwait' ,'text': _('Kuwait')},
    {'value': 'Kyrgyzstan' ,'text': _('Kyrgyzstan')},
    {'value': 'Laos' ,'text': _('Laos')},
    {'value': 'Latvia' ,'text': _('Latvia')},
    {'value': 'Lebanon' ,'text': _('Lebanon')},
    {'value': 'Lesotho' ,'text': _('Lesotho')},
    {'value': 'Liberia' ,'text': _('Liberia')},
    {'value': 'Libya' ,'text': _('Libya')},
    {'value': 'Liechtenstein' ,'text': _('Liechtenstein')},
    {'value': 'Lithuania' ,'text': _('Lithuania')},
    {'value': 'Luxembourg' ,'text': _('Luxembourg')},
    {'value': 'Madagascar' ,'text': _('Madagascar')},
    {'value': 'Malawi' ,'text': _('Malawi')},
    {'value': 'Malaysia' ,'text': _('Malaysia')},
    {'value': 'Maldives' ,'text': _('Maldives')},
    {'value': 'Mali' ,'text': _('Mali')},
    {'value': 'Malta' ,'text': _('Malta')},
    {'value': 'Marshall Islands' ,'text': _('Marshall Islands')},
    {'value': 'Mauritania' ,'text': _('Mauritania')},
    {'value': 'Mauritius' ,'text': _('Mauritius')},
    {'value': 'Mexico' ,'text': _('Mexico')},
    {'value': 'Micronesia, Federated States of' ,'text': _('Micronesia, Federated States of')},
    {'value': 'Moldova' ,'text': _('Moldova')},
    {'value': 'Monaco' ,'text': _('Monaco')},
    {'value': 'Mongolia' ,'text': _('Mongolia')},
    {'value': 'Montenegro' ,'text': _('Montenegro')},
    {'value': 'Morocco' ,'text': _('Morocco')},
    {'value': 'Mozambique' ,'text': _('Mozambique')},
    {'value': 'Myanmar (Burma)' ,'text': _('Myanmar (Burma)')},
    {'value': 'Namibia' ,'text': _('Namibia')},
    {'value': 'Nauru' ,'text': _('Nauru')},
    {'value': 'Nepal' ,'text': _('Nepal')},
    {'value': 'Netherlands' ,'text': _('Netherlands')},
    {'value': 'New Zealand' ,'text': _('New Zealand')},
    {'value': 'Nicaragua' ,'text': _('Nicaragua')},
    {'value': 'Niger' ,'text': _('Niger')},
    {'value': 'Nigeria' ,'text': _('Nigeria')},
    {'value': 'North Macedonia' ,'text': _('North Macedonia')},
    {'value': 'Norway' ,'text': _('Norway')},
    {'value': 'Oman' ,'text': _('Oman')},
    {'value': 'Pakistan' ,'text': _('Pakistan')},
    {'value': 'Palau' ,'text': _('Palau')},
    {'value': 'Panama' ,'text': _('Panama')},
    {'value': 'Papua New Guinea' ,'text': _('Papua New Guinea')},
    {'value': 'Paraguay' ,'text': _('Paraguay')},
    {'value': 'Peru' ,'text': _('Peru')},
    {'value': 'Philippines' ,'text': _('Philippines')},
    {'value': 'Poland' ,'text': _('Poland')},
    {'value': 'Portugal' ,'text': _('Portugal')},
    {'value': 'Qatar' ,'text': _('Qatar')},
    {'value': 'Romania' ,'text': _('Romania')},
    {'value': 'Russia' ,'text': _('Russia')},
    {'value': 'Rwanda' ,'text': _('Rwanda')},
    {'value': 'Saint Kitts and Nevis' ,'text': _('Saint Kitts and Nevis')},
    {'value': 'Saint Lucia' ,'text': _('Saint Lucia')},
    {'value': 'Saint Vincent and the Grenadines' ,'text': _('Saint Vincent and the Grenadines')},
    {'value': 'Samoa' ,'text': _('Samoa')},
    {'value': 'San Marino' ,'text': _('San Marino')},
    {'value': 'Sao Tome and Principe' ,'text': _('Sao Tome and Principe')},
    {'value': 'Saudi Arabia' ,'text': _('Saudi Arabia')},
    {'value': 'Senegal' ,'text': _('Senegal')},
    {'value': 'Serbia' ,'text': _('Serbia')},
    {'value': 'Seychelles' ,'text': _('Seychelles')},
    {'value': 'Sierra Leone' ,'text': _('Sierra Leone')},
    {'value': 'Singapore' ,'text': _('Singapore')},
    {'value': 'Slovakia' ,'text': _('Slovakia')},
    {'value': 'Slovenia' ,'text': _('Slovenia')},
    {'value': 'Solomon Islands' ,'text': _('Solomon Islands')},
    {'value': 'Somalia' ,'text': _('Somalia')},
    {'value': 'South Africa' ,'text': _('South Africa')},
    {'value': 'Spain' ,'text': _('Spain')},
    {'value': 'Sri Lanka' ,'text': _('Sri Lanka')},
    {'value': 'Sudan' ,'text': _('Sudan')},
    {'value': 'Sudan, South' ,'text': _('Sudan, South')},
    {'value': 'Suriname' ,'text': _('Suriname')},
    {'value': 'Sweden' ,'text': _('Sweden')},
    {'value': 'Switzerland' ,'text': _('Switzerland')},
    {'value': 'Syria' ,'text': _('Syria')},
    {'value': 'Taiwan' ,'text': _('Taiwan')},
    {'value': 'Tajikistan' ,'text': _('Tajikistan')},
    {'value': 'Tanzania' ,'text': _('Tanzania')},
    {'value': 'Thailand' ,'text': _('Thailand')},
    {'value': 'Togo' ,'text': _('Togo')},
    {'value': 'Tonga' ,'text': _('Tonga')},
    {'value': 'Trinidad and Tobago' ,'text': _('Trinidad and Tobago')},
    {'value': 'Tunisia' ,'text': _('Tunisia')},
    {'value': 'Turkey' ,'text': _('Turkey')},
    {'value': 'Turkmenistan' ,'text': _('Turkmenistan')},
    {'value': 'Tuvalu' ,'text': _('Tuvalu')},
    {'value': 'Uganda' ,'text': _('Uganda')},
    {'value': 'Ukraine' ,'text': _('Ukraine')},
    {'value': 'United Arab Emirates' ,'text': _('United Arab Emirates')},
    {'value': 'United Kingdom' ,'text': _('United Kingdom')},
    {'value': 'United States' ,'text': _('United States')},
    {'value': 'Uruguay' ,'text': _('Uruguay')},
    {'value': 'Uzbekistan' ,'text': _('Uzbekistan')},
    {'value': 'Vanuatu' ,'text': _('Vanuatu')},
    {'value': 'Vatican City' ,'text': _('Vatican City')},
    {'value': 'Venezuela' ,'text': _('Venezuela')},
    {'value': 'Vietnam' ,'text': _('Vietnam')},
    {'value': 'Yemen' ,'text': _('Yemen')},
    {'value': 'Zambia' ,'text': _('Zambia')},
    {'value': 'Zimbabwe' ,'text': _('Zimbabwe')}
    ], selected=data.country if data.country else '0', is_required=true) }}
    <!-- {{ form.input("country", id="field-country", label=_("Country of Residence"), placeholder=_("Ghana"), value=data.country, error=errors.country, classes=["control-medium"], is_required=True)  }} -->
    {{ form.input("affiliation", id="field-affiliation", label=_("Institutional Affiliation"), placeholder=_("Centre for Coastal Management"), value=data.affiliation, error=errors.affiliation, classes=["control-medium"], is_required=True)  }}
    {{ form.checkbox("agreement", id="field-agreement", label=_("I agree to the <a href='https://ccm.ucc.edu.gh/ccm-data-policy'>data policy of The ROC data hub</a>"), value=data.agreement, error=errors.agreement, classes=["control-medium"], is_required=True)  }}
    {{ form.checkbox("advertisement", id="field-advertisement", label=_("I wish to receive advertisements on products related to The ROC data hub"), value=data.advertisement, error=errors.advertisement, classes=["control-medium"])  }}
    {{ form.checkbox("reviewer", id="field-reviewer", label=_("I am available to act as data reviewer for The ROC data hub"), value=data.reviewer, error=errors.reviewer, classes=["control-medium"])  }}
    

{% endblock %}