{% trans %}
    <p>This Regional Oceans and Coastal data hub – named as The ROC (pronounced “the rock”) – is a one-stop shop for spatial datasets on Africa’s marine resources and their supporting ecosystems. Currently marine ecosystems are becoming increasingly challenged by environmental problems (e.g. pollution) embedded in freshwater and brackish ecosystems. So unlike traditional data portals, The ROC does not focus on one resource (e.g., fish) or sector (fisheries). </p>
    <p>Rather, it is a multidisciplinary hub covering different resources, environments and stakeholders connected to the health of coastal/marine communities across Africa. These diverse number of information were previously scattered across different national archives and international repositories. They are presented under three categories – biological, physicochemical and socioeconomic data, depending on the type of ecosystem – freshwater, brackish, marine or wetland – and the target unit of analysis (see Figure below).</p>
    <img src="/images/the-roc.jpg" class="card-img-top" alt="The ROC" />
    <p><strong>The ROC data flow diagram</strong>; flow lines coloured red, black and green shows unit of analysis The ROC uses for socioeconomic, biological and physicochemical data, respectively.</p>
    <p>The objective of the Project is to provide access to both raw and processed data, in support of interoperable discovery and holistic ocean management. The Project is supported by the World Bank through the Africa Centre of Excellence on Coastal Resilience (ACECoR) and the West Africa Coastal Area management programme (WACA).</p>


    <h2 class="mt-5">Brief On Data Categories</h2>
    <div class="mt-4">
        <div class="row gap-3">
            <div class="card col-lg-3 col-md-6 col-sm-12 p-0">
                <a href="/group/social-science" class="text-decoration-none">
                    <img src="/images/social.jpg" class="card-img-top" alt="Socioeconomic Data">
                    <div class="card-body">
                        <h5 class="card-title fs-2">Socioeconomic Data</h5>
                        <p class="card-text">This covers information related to nations/states, institutions, communities and individuals connected to freshwater, brackish, and marine ecosystems</p>
                    </div>
                </a>
            </div>

            <div class="card col-lg-3 col-md-6 col-sm-12 p-0">
                <a href="/group/biological" class="text-decoration-none">
                    <img src="/images/bio.jpg" class="card-img-top" alt="Biological Data">
                    <div class="card-body">
                        <h5 class="card-title fs-2">Biological Data</h5>
                        <p class="card-text">This covers information concerning living organisms, their products, exploitation, interactions and the natural systems that support them.</p>
                    </div>
                </a>
            </div>

            <div class="card col-lg-3 col-md-6 col-sm-12 p-0">
                <a href="/group/physio-chemical" class="text-decoration-none">
                    <img src="/images/physio.jpg" class="card-img-top" alt="Physicochemical Data">
                    <div class="card-body">
                        <h5 class="card-title fs-2">Physicochemical Data</h5>
                        <p class="card-text"> This covers physical and chemical properties related to the atmosphere, hydrosphere and lithosphere  of freshwater, brackish, and marine ecosystems.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>

{% endtrans %}