{% trans %}
    <p>This hub is a one-stop shop for spatial datasets on Africa’s marine resources and their supporting ecosystems. Marine ecosystems are increasingly challenged by environmental problems (e.g., pollution) embedded in freshwater and brackish ecosystems. So unlike traditional data portals, this Hub does not focus on one resource (e.g., fish) or sector (fisheries). </p>
    <p>Rather, it is a multidisciplinary hub covering different resources, environments and stakeholders connected to the health and resilience of coastal/marine communities across Africa. This diverse information was previously scattered across different national archives and international repositories. The objective of the Project is to provide access to both raw and processed data, in support of interoperable discovery and holistic ocean management strategies. </p>
    <p>This project is supported by the World Bank through the Africa Centre of Excellence on Coastal Resilience (ACECoR) and the West Africa Coastal Area Management Programme (WACA).</p>


    <h2 class="mt-5">Brief On Data Categories</h2>
    <div class="mt-4">
        <div class="row gap-3">
            <div class="card col-lg-3 col-md-6 col-sm-12 p-0">
                <a href="/group/social-science" class="text-decoration-none">
                    <img src="/images/social.jpg" class="card-img-top" alt="Social Science Data">
                    <div class="card-body">
                        <h5 class="card-title fs-2">Social Science Data</h5>
                        <p class="card-text">This covers information related to nations/states, institutions, communities and individuals connected to freshwater, brackish, and marine ecosystems</p>
                    </div>
                </a>
            </div>

            <div class="card col-lg-3 col-md-6 col-sm-12 p-0">
                <a href="/group/biological" class="text-decoration-none">
                    <img src="/images/bio.jpg" class="card-img-top" alt="Biological Data">
                    <div class="card-body">
                        <h5 class="card-title fs-2">Biological Data</h5>
                        <p class="card-text">This covers information concerning living organisms, their products, exploitation, interactions and the natural systems that support them.</p>
                    </div>
                </a>
            </div>

            <div class="card col-lg-3 col-md-6 col-sm-12 p-0">
                <a href="/group/physio-chemical" class="text-decoration-none">
                    <img src="/images/physio.jpg" class="card-img-top" alt="Physicochemical Data">
                    <div class="card-body">
                        <h5 class="card-title fs-2">Physicochemical Data</h5>
                        <p class="card-text">This covers information related to the physical and chemical properties of freshwater, brackish, and marine ecosystems.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>

{% endtrans %}