{% trans %}
<h3 class="mt-5 fs-3 fw-light" id="geolocation-datasets">Data Map</h3>
<div class="mt-4">
  <div class="embed-container">
    <iframe
      width="500"
      height="400"
      frameborder="0"
      scrolling="no"
      marginheight="0"
      marginwidth="0"
      title="Datahub"
      src="https://ccm-ucc.maps.arcgis.com/apps/mapviewer/index.html?webmap=6458bff2551b430c9e06e36bdc6273a1"
    ></iframe>
  </div>

  <!-- https://ccm-ucc.maps.arcgis.com/apps/Embed/index.html?webmap=c09ecd02bb594c59ac927d23f28d5449&extent=-3.7335,3.1614,3.6328,7.1489&zoom=true&previewImage=false&scale=true&disable_scroll=true&theme=light -->
</div>

{% endtrans %}
