{% trans %}
<h3 class="mt-5 fs-3 fw-light" id="fisheries-production">Fish Production by Ghanaian Artisanal Fishers</h3>
<div class="mt-4">
    <div id="fish-production"></div>
</div>
<h3 class="mt-5 fs-3 fw-light" id="sea-surface-temperature">Changes in Surface Temperature of Ghana's Waters</h3>
<div class="mt-4">
    <div id="anomaly-chart"></div>
</div>
{% endtrans %}
{% block scripts %}
<script async defer src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>
    var fishProduction = {
        series: [{
            name: 'Anchovy',
            data: ["0.213298425", "0.160616666", "0.249447551", "0.232608484", "0.254574785", "0.191698594", "0.324310999", "0.295908541", "0.166404011", "0.114427508", "0.333098504", "0.248521258", "0.201287576", "0.334044284", "0.151049443", "0.111229947", "0.141384212", "0.03949647", "0.134057337", "0.118207198", "0.102711477", "0.109292337", "0.136255458", "0.030752989", "0.018414296", "0.018063795", "0.036206996", "0.101991556", "0.239122182", "0.133529058", "0.135833589", "0.113019512"]
        }, {
            name: 'Sardinella',
            data: ["0.115277911", "0.082889752", "0.246646653", "0.189286054", "0.178395371", "0.118746425", "0.268848397", "0.122957241", "0.133760717", "0.10649349", "0.243907855", "0.156609539", "0.154948985", "0.186713882", "0.161682476", "0.171232951", "0.160400898", "0.063666974", "0.049633508", "0.020207301", "0.058094053", "0.036886081", "0.047014534", "0.037881216", "0.033354303", "0.033429765", "0.029091025", "0.060539773", "0.077239854", "0.045660486", "0.195229965", "0.046687117"]
        }],
        chart: {
            type: 'bar',
            height: 350,
            toolbar: {
                show: true,
                offsetX: 0,
                offsetY: 0,
                tools: {
                    download: false,
                    selection: true,
                    zoom: true,
                    zoomin: true,
                    zoomout: true,
                    pan: true,
                    reset: true | '<img src="/static/icons/reset.png" width="20">',
                    customIcons: []
                },
                export: {
                    csv: {
                        filename: undefined,
                        columnDelimiter: ',',
                        headerCategory: 'category',
                        headerValue: 'value',
                        dateFormatter(timestamp) {
                            return new Date(timestamp).toDateString()
                        }
                    },
                    svg: {
                        filename: undefined,
                    },
                    png: {
                        filename: undefined,
                    }
                },
                autoSelected: 'zoom'
            },
        },
        plotOptions: {
            bar: {
                horizontal: false,
                columnWidth: '80%',
                endingShape: 'rounded'
            },
        },
        dataLabels: {
            enabled: false
        },
        stroke: {
            show: true,
            width: 2,
            colors: ['transparent']
        },
        xaxis: {
            'name':'Years',
            categories: ["1990", "1991", "1992", "1993", "1994", "1995", "1996", "1997", "1998", "1999", "2000", "2001", "2002", "2003", "2004", "2005", "2006", "2007", "2008", "2009", "2010", "2011", "2012", "2013", "2014", "2015", "2016", "2017", "2018", "2019", "2020", "2021"],
        },
        yaxis: {
            title: {
                text: 'Catch per effort (mt/day)'
            }
        },
        fill: {
            opacity: 1
        },
        tooltip: {
            y: {
                formatter: function (val) {
                    return val + " mt/day"
                }
            }
        }
    };

    var chart = new ApexCharts(document.querySelector("#fish-production"), fishProduction);
    chart.render();

    var anomalyChart = {
            series: [{
                name: 'Temperature Anomaly',
                data: [-1.60666291, 0.328729011, -0.859328606, -0.455552158, -0.284732888, -0.548878978, -1.934386397, -1.22159981, -1.879925759, -0.432760261, -1.764526786, 0.130079636, -0.114873277, 0.113045692, -0.087283086, 1.793648197, -1.61889856, -1.381143088, 0.141595542, -1.036625572, 0.316973191, -0.005232257, -0.856929459, -1.467272467, -0.24658645, 1.642981763, 0.211650635, -1.011674443, -2.015717482, -0.402770923, -1.390019932, 0.353920055, -0.366543803, -0.305125638, -0.846373212, -0.62853066, 1.540058355, 0.487552546, 0.106567995, 0.447246875, 1.379555417, 0.693639277, 0.129119977, 0.065302666, -1.591788199, 0.196775924, 0.079937463, 1.231767959, 0.718350492, -0.662118719, 1.658816133, 0.91052217, 0.531696851, 0.19605618, 0.256034856, 1.284789109, 0.287943512, 0.206132597, 1.173948515, 1.072464595, 1.684487007, 1.17058971, 1.561650678, 0.971460505, -0.117272424, 0.635340004, 0.665569257, 0.765133859]
            }],
            chart: {
                type: 'bar',
                height: 450,
                 toolbar: {
                    show: true,
                    offsetX: 0,
                    offsetY: 0,
                    tools: {
                        download: false,
                        selection: true,
                        zoom: true,
                        zoomin: true,
                        zoomout: true,
                        pan: true,
                        reset: true | '<img src="/static/icons/reset.png" width="20">',
                        customIcons: []
                    },
                    export: {
                        csv: {
                            filename: undefined,
                            columnDelimiter: ',',
                            headerCategory: 'category',
                            headerValue: 'value',
                            dateFormatter(timestamp) {
                                return new Date(timestamp).toDateString()
                            }
                        },
                        svg: {
                            filename: undefined,
                        },
                        png: {
                            filename: undefined,
                        }
                    },
                    autoSelected: 'zoom'
                },
                legend:{
                    show: true,
                    showForSingleSeries: true,
                    position: 'top',
                    labels: {
                        'name':'Temperature Anomaly',
                        useSeriesColors: true
                    },
                },
            },
            plotOptions: {
                bar: {
                    colors: {
                        ranges: [{
                            from: -2.000000000,
                            to: -1.500000000,
                            color: '#008FFB'
                        },{
                            from: 0.000000000,
                            to: 2.000000000,
                            color: '#FF4560'
                        }]
                    },
                    columnWidth: '80%',
                }
            },
            dataLabels: {
                enabled: false,
            },
            yaxis: {
                title: {
                    text: 'Temperature Anomaly (°C) compared to average from 1948-2015',
                },
                labels: {
                    formatter: function (y) {
                        return y + "°C";
                    }
                }
            },
            xaxis: {
                type: 'year',
                name:'Years',
                categories: [
                    "1948", "1949", "1950", "1951", "1952", "1953", "1954", "1955", "1956", "1957", "1958", "1959", "1960", "1961", "1962", "1963", "1964", "1965", "1966", "1967", "1968", "1969", "1970", "1971", "1972", "1973", "1974", "1975", "1976", "1977", "1978", "1979", "1980", "1981", "1982", "1983", "1984", "1985", "1986", "1987", "1988", "1989", "1990", "1991", "1992", "1993", "1994", "1995", "1996", "1997", "1998", "1999", "2000", "2001", "2002", "2003", "2004", "2005", "2006", "2007", "2008", "2009", "2010", "2011", "2012", "2013", "2014", "2015",
                ],
                labels: {
                    rotate: -90
                }
            }
        };

        var chart = new ApexCharts(document.querySelector("#anomaly-chart"), anomalyChart);
        chart.render();
</script>
{% endblock %}