<div class="content" id="data-content"></div>

  {% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      function getDatasetByGroup() {
        axios.get('/api/3/action/group_list?all_fields=1')
          .then(function (response) {
            // handle success
            document.getElementById('data-content').innerHTML += response.data.result.map(item => {
              getGroupData(item.id, item.name);
              return `<div class="row">
                <div class="col-8">
                  <div class="row">
                    <div class="col-2 col-lg-1"><img src="/images/${item.name}.svg" width="25" class="text-dark text-opacity-75"></div>
                    <div class="col-10 col-lg-11"><h2 class="mb-3 text-dark text-opacity-75">${item.display_name}</h2></div>
                  </div>
                </div>
                <div class="col-4">
                  <a href="/group/${item.name}" class="text-dark text-opacity-75 float-end fs-4 ms-3 fw-bold">View all</a>
                </div>
              </div>
              <div class="row mb-5" id="${item.name}-data"></div>`
            }).join("")
            
          })
          .catch(function (error) {
            // handle error
            console.log(error);
          })
      }

      function getGroupData(group_id, group_name) {
        axios.get(`/api/3/action/group_show?id=${group_id}&include_datasets=1&include_users=0`)
          .then(function (response) {
            // handle success
            document.getElementById(`${group_name}-data`).innerHTML += response.data.result.packages.map((item, index) => index < 3 ? (
              `<div class="col-lg-4 mb-3">
                <div class="card shadow-sm border border-light p-2">
                  <div class="card-body">
                    <a href="/dataset/${item.name}" class="card-link"><h3 class="card-title fs-lg-3 pb-2">${item.title}</h3></a>
                    <p class="card-text truncate-text">
                      ${item.notes}
                    </p>
                    <a href="/dataset/${item.name}" class="card-link">View dataset</a>
                  </div>
                </div>
              </div>`
            ):"").join("");
          })
          .catch(function (error) {
            // handle error
            console.log(error);
          })
      }

      getDatasetByGroup()
      
    </script>
  {% endblock %}