{% trans %}

    <div class="mt-4">
        <div class="row gap-3">
            <div class="card col-lg-3 col-md-6 col-sm-12 p-0">
                <a href="/dataset/?tags=Freshwater" class="text-decoration-none">
                    <img src="/images/freshwater.jpg" class="card-img-top" alt="Freshwater">
                    <div class="card-body">
                        <h5 class="card-title fs-2">Freshwater</h5>
                    </div>
                </a>
            </div>

            <div class="card col-lg-3 col-md-6 col-sm-12 p-0">
                <a href="/dataset/?tags=Brackishwater" class="text-decoration-none">
                    <img src="/images/brackishwater.jpg" class="card-img-top" alt="Brackishwater">
                    <div class="card-body">
                        <h5 class="card-title fs-2">Brackishwater</h5>
                    </div>
                </a>
            </div>

            <div class="card col-lg-3 col-md-6 col-sm-12 p-0">
                <a href="/dataset/?tags=Marine" class="text-decoration-none">
                    <img src="/images/marine.jpg" class="card-img-top" alt="Marine">
                    <div class="card-body">
                        <h5 class="card-title fs-2">Marine</h5>
                    </div>
                </a>
            </div>

            <div class="card col-lg-3 col-md-6 col-sm-12 p-0">
                <a href="/dataset/?tags=Wetland" class="text-decoration-none">
                    <img src="/images/wetland.jpg" class="card-img-top" alt="Wetland">
                    <div class="card-body">
                        <h5 class="card-title fs-2">Wetland</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>

{% endtrans %}