<h3 class="mt-5 fs-3 fw-light mb-5" id="profile">Country Profile</h3>
<div class="media">
  <img
    src="/images/ghana.jpeg"
    class="mr-3"
    height="100"
    width="150"
    alt="Ghana logo"
  />
  <div class="media-body">
    {# <h5 class="mt-0">Profile</h5> #}
    <div>
      <p>
        Ghana is a West African country with <a href="https://www.statsghana.gov.gh/" target="_blank" rel="noopener noreferrer">a total population of about 32 million.</a>
        About <a href="https://doi.org/10.1016/j.qsa.2023.100108" target="_blank" rel="noopener noreferrer"> 38% of the country’s populations lives in coastal areas that accounts for only about 6.5% of the country's total land area</a> of <a href="https://www.worlddata.info/africa/ghana/index.php" target="_blank" rel="noopener noreferrer">238,540 km²</a>.
        In terms of fisheries productions, <a href="https://www.fao.org/countryprofiles/index/en/?iso3=gha" target="_blank" rel="noopener noreferrer"> a detailed profile of the country is
        provided by the Food and Agriculture Organisation</a> of the United Nations.
        Fishing and its related activities (boat building, fish processing and
        trading, etc.) employ about 10% of Ghana’s population. The fish provide
        by this industry accounts for about 60% of animal protein consumed by
        Ghanaians.
        Aquatic ecosystems and living resources are therefore considered as key
        levers of food security and decent economic growth in Ghana.
      </p>
    </div>
  </div>
</div>
