<div class="row">
  <div class="col-md-6 col-sm-12">
    <div class="py-5 mb-4 rounded-3 text-light">
      <div class="py-5">
        <h1 class="display-5 fw-bold">Regional Oceans & Coastal Data Hub</h1>
        <p class="col-md-8 fs-4">We spotlight  biological, physical and socioeconomic research on African Oceans and their related systems</p>
        {% block search %}
          {% snippet 'home/snippets/custom_search.html' %}
        {% endblock %}
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    {% snippet 'home/snippets/map.html' %}
  </div>
</div>