{% extends "page.html" %}

{% block subtitle %}{{ _('Countries Covered') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Countries Covered'), named_route='rocdatahub.countries' %}</li>
{% endblock %}

{% block primary %}
  <article class="module" role="main">
    <div class="module-content">
      {% block about %}
          <h1 class="page-heading">{{ _('Countries Covered') }}</h1>
          {% snippet 'home/snippets/countries.html' %}
      {% endblock %}
    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}