{% extends "page.html" %}

{% block subtitle %}{{ _('Ecosystems') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Ecosystems'), named_route='rocdatahub.ecosystem' %}</li>
{% endblock %}

{% block primary %}
  <article class="module" role="main">
    <div class="module-content">
      {% block about %}
          <h1 class="page-heading">{{ _('Ecosystems') }}</h1>
          {% snippet 'home/snippets/ecosystem.html' %}
      {% endblock %}
    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}