{% extends "page.html" %} {% block subtitle %}{{ _("Home") }}{% endblock %} {%
block maintag %}{% endblock %} {% block toolbar %}{% endblock %} {% block
content %}
<div class="homepage">
  <div id="content" class="container">{{ self.flash() }}</div>
  {% block primary_content %}
  <div role="main">
    <div class="hero-section">
      <div class="container">
        {% block hero %} {% snippet 'home/snippets/hero.html' %} {% endblock %}
      </div>
    </div>
    <div class="container my-5">
      {% snippet 'home/snippets/stats.html' %}
      <div class="content">
        <div class="row">
          <div class="col-8">
            <div class="row">
              <div class="col-1"><img src="/images/bio.svg" width="30" class="text-dark text-opacity-75"></div>
              <div class="col-11"><h2 class="mb-3 text-dark text-opacity-75">Biological</h2></div>
            </div>
          </div>
          <div class="col-4">
            <a href="#" class="text-dark text-opacity-75 float-end fs-4 ms-3 fw-bold">View all</a>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <div class="card shadow-sm border border-light">
              <div class="card-body">
                <h3 class="card-title fs-3">Card title</h3>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card shadow-sm border border-light">
              <div class="card-body">
                <h3 class="card-title fs-3">Card title</h3>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card shadow-sm border border-light">
              <div class="card-body">
                <h3 class="card-title fs-3">Card title</h3>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card shadow-sm border border-light">
              <div class="card-body">
                <h3 class="card-title fs-3">Card title</h3>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-5 mb-3">
          <div class="col-8">
            <div class="row">
              <div class="col-1"><img src="/images/users.svg" width="30" class="text-dark text-opacity-75"></div>
              <div class="col-11"><h2 class="mb-3 text-dark text-opacity-75">Social Science</h2></div>
            </div>
          </div>
          <div class="col-4">
            <a href="#" class="text-dark text-opacity-75 float-end fs-4 ms-3 fw-bold">View all</a>
          </div>
        </div>

        <div class="row">
          <div class="col-3">
            <div class="card shadow-sm border border-light">
              <div class="card-body">
                <h3 class="card-title fs-3">Card title</h3>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card shadow-sm border border-light">
              <div class="card-body">
                <h3 class="card-title fs-3">Card title</h3>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card shadow-sm border border-light">
              <div class="card-body">
                <h3 class="card-title fs-3">Card title</h3>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card shadow-sm border border-light">
              <div class="card-body">
                <h3 class="card-title fs-3">Card title</h3>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-5 mb-3">
          <div class="col-8">
            <div class="row">
              <div class="col-1">
                <div class="rounded bg-blue-100 p-2"><img src="/images/flask.svg" width="30" class="text-dark text-opacity-75"></div>
              </div>
              <div class="col-11"><h2 class="mb-3 text-dark text-opacity-75">Physio Chemical</h2></div>
            </div>
          </div>
          <div class="col-4">
            <a href="#" class="text-dark text-opacity-75 float-end fs-4 ms-3 fw-bold">View all</a>
          </div>
        </div>

        <div class="row">
          <div class="col-3">
            <div class="card shadow-sm border border-light">
              <div class="card-body">
                <h3 class="card-title fs-3">Card title</h3>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card shadow-sm border border-light">
              <div class="card-body">
                <h3 class="card-title fs-3">Card title</h3>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card shadow-sm border border-light">
              <div class="card-body">
                <h3 class="card-title fs-3">Card title</h3>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card shadow-sm border border-light">
              <div class="card-body">
                <h3 class="card-title fs-3">Card title</h3>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="main module-feeds">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            {# Note: this featured_group block is used as an example in the
            theming tutorial in the docs! If you change this code, be sure to
            check whether you need to update the docs. #} {# Start template
            block example. #} {% block featured_group %} {% snippet
            'home/snippets/featured_group.html' %} {% endblock %} {# End
            template block example. #}
          </div>
          <div class="col-md-6">
            {% block featured_organization %} {% snippet
            'home/snippets/featured_organization.html' %} {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
{% endblock %}
