{% extends "page.html" %} {% block subtitle %}{{ _("Home") }}{% endblock %} {%
block maintag %}{% endblock %} {% block toolbar %}{% endblock %} {% block
content %}
<div class="homepage">
  <div id="content" class="container">{{ self.flash() }}</div>
  {% block primary_content %}
  <div role="main">
    <div class="hero-section">
      <div class="container">
        {% block hero %} {% snippet 'home/snippets/hero.html' %} {% endblock %}
      </div>
    </div>
    <div class="container my-5">
      {% snippet 'home/snippets/stats.html' %}      
    </div>

  </div>
  {% endblock %}
</div>
{% endblock %}
