{% extends "page.html" %}

{% block subtitle %}{{ _('Countries') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Map'), named_route='rocdatahub.map' %}</li>
{% endblock %}

{% block primary %}
  <article class="module" role="main">
    <div class="module-content">
      {% block about %}
        <h1 class="page-heading">{{ _('Map') }}</h1>
        {% snippet 'home/snippets/map.html' %}
      {% endblock %}
    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}